* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: lightgrey;
  font-family: sans-serif;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 80px (1fr)[4] 40px;
      grid-template-rows: 80px repeat(4, 1fr) 40px;
  grid-gap: 5px;
  padding: 10px;
  min-height: 100vh;
  width: 100%;
}

.grid-container > div {
  text-align: center;
  font-family: sans-serif;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  border: 3px solid black;
  padding-bottom: 0;
  background-color: white;
}

.header .green {
  background-color: green;
  max-height: auto;
  min-width: 60px;
  border-right: 2px solid black;
}

.header .green .logo {
  display: block;
  margin: 0 auto 0 auto;
  height: 60px;
}

.header .white {
  background-color: white;
  max-height: auto;
  min-width: 100px;
  text-align: center;
  position: relative;
  width: 100%;
  height: 60px;
}

.header .white h6 {
  padding-top: 10px;
}

.header .white h5 {
  font-size: 0.75rem;
  font-family: "Pacifico";
}

.header .white #activePhone {
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .header .white .regPhone {
    display: none;
  }
}

.header .red {
  background-color: #cd0101;
  max-height: auto;
  min-width: 60px;
  font-size: 1rem;
  border-left: 2px solid black;
}

.header .red #menuId {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  text-align: center;
}

.delivery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 1fr 15%;
      grid-template-columns: 15% 1fr 15%;
  border: 3px solid black;
  -webkit-box-shadow: 3px 5px black;
          box-shadow: 3px 5px black;
  margin-top: 7px;
  background-color: white;
}

.delivery .icons {
  display: block;
  width: 40px;
  padding-top: 8px;
  margin: 0 auto 0 auto;
}

.delivery .center {
  background-color: #cd0101;
  max-height: 57px;
  color: white;
}

.delivery .center h5,
.delivery .center h3 {
  text-align: center;
}

.delivery .center .blinking {
  -webkit-animation: blinkingText 2s infinite;
          animation: blinkingText 2s infinite;
}

@-webkit-keyframes blinkingText {
  0% {
    color: white;
  }
  49% {
    color: white;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

@keyframes blinkingText {
  0% {
    color: white;
  }
  49% {
    color: white;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

.missionStatement {
  border: 5px solid black;
  background-image: url("../images/ingredientsfaded.png");
  background-color: #cd853f;
  background-size: cover;
  margin: 10px 15px 0 10px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 5px black;
          box-shadow: 3px 5px black;
}

@media only screen and (max-width: 767px) {
  .missionStatement {
    display: none;
  }
}

.missionStatement h4 {
  text-align: center;
}

.missionStatement p {
  text-align: center;
  color: black;
  font-style: italic;
  font-size: 1rem;
}

.specials {
  background-color: #008c45;
  border: 3px solid black;
  margin-top: 10px;
}

.specials .dailySpecialsign {
  display: inline;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -5px;
  border: 4px solid black;
  -webkit-box-shadow: 9px 5px black;
          box-shadow: 9px 5px black;
}

.specials > .item {
  background-color: #008c45;
  border-bottom-style: dashed;
}

.specials > .item > .image {
  height: 75px;
  background-size: cover;
  background-position: center center;
}

.specials > .item .name1,
.specials > .item .price,
.specials > .item h4,
.specials > .item .name2 {
  text-align: center;
  color: white;
  font-size: 0.75rem;
}

.specials > .item .day {
  margin-top: 10px;
}

.specials > .item .name2 {
  margin-top: 5px;
}

.specials > .item .price {
  padding-bottom: 5px;
}

.locationGoogle {
  background-color: #008c45;
  border: 3px solid black;
  margin-top: 10px;
}

iframe {
  display: block;
  margin: 0 auto 10px auto;
}

footer {
  border: 3px solid black;
  background-color: #cd0101;
  color: white;
  text-align: center;
  margin-top: 10px;
}

footer pre {
  font-size: 0.75rem;
  font-weight: bold;
  font-family: sans-serif;
}

#underlinesFooter {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 321px) {
  body {
    background-color: lightgrey;
    background-image: url("../images/pepperonipizza.jpg");
    background-size: cover;
  }
  .grid-container {
    grid-gap: 50px;
  }
  .header {
    border: 5px solid black;
    height: 110px;
  }
  .header .green .logo {
    height: 99px;
  }
  .header .white h6 {
    font-size: 1.2rem;
  }
  .header .white h5 {
    font-size: 1.4rem;
  }
  .header .white #activePhone {
    display: none;
  }
}

@media only screen and (min-width: 321px) and (min-width: 767px) {
  .header .white .regPhone {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@media only screen and (min-width: 321px) {
  .header .red #menuId {
    font-size: 1.2rem;
  }
  .freeDelivery > .delivery {
    height: 90px;
    background-color: #cd0101;
  }
  .freeDelivery > .delivery .center h3 {
    font-size: 2.5rem;
  }
  .freeDelivery > .delivery .center h5 {
    font-size: 2rem;
  }
  .freeDelivery > .delivery .lside,
  .freeDelivery > .delivery .rside {
    background-color: white;
  }
  .freeDelivery > .delivery .icons {
    width: 80px;
  }
  .missionStatement {
    margin: 25px 50px 25px 150px;
  }
  .missionStatement p {
    font-weight: bold;
  }
  .specials {
    margin: 0 75px;
    -webkit-box-shadow: 5px 8px black;
            box-shadow: 5px 8px black;
  }
  .specials .dailySpecialsign {
    width: 75%;
    margin-top: -15px;
    margin-bottom: 10px;
    margin-left: 30px;
    -webkit-box-shadow: 15px 10px black;
            box-shadow: 15px 10px black;
  }
  .specials > .item {
    border-bottom: thick dashed black;
  }
  .specials > .item > .image {
    height: 150px;
  }
  .specials > .item .name1,
  .specials > .item .price,
  .specials > .item h4,
  .specials > .item .name2 {
    font-size: 1.5rem;
  }
  .locationGoogle iframe {
    display: block;
    margin: 10px auto 10px auto;
  }
  footer pre {
    font-size: 1.55rem;
  }
}

@media only screen and (min-width: 992px) {
  .header .white h6 {
    font-size: 1.5rem;
  }
  .specials {
    margin: 0 200px;
  }
  .specials .dailySpecialsign {
    width: 60%;
    margin-top: -15px;
    margin-bottom: 10px;
    margin-left: 30px;
  }
  .specials > .item > .image {
    height: 200px;
  }
}
/*# sourceMappingURL=menu.css.map */