// some variables //////////////////////////////////////////////////////////////

$redLogo: rgb(205, 1, 1);
$greenFlag: rgb(0, 140, 69);
$greyL: lightgrey;
$greyM: darkgrey;

// set up zero points  //////////////////////////////////////////////////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// set up body & test connection to index.html  ///////////////////////////////////

body {
  background-color: $greyL;
  font-family: sans-serif;
}

// set up the grid container  //////////////////////////////////////////////////////
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px repeat(4, 1fr) 40px;
  grid-gap: 5px;
  padding: 10px;
  min-height: 100vh;
  width: 100%;
  > div {
    text-align: center;
    font-family: sans-serif;
  }
}

// set up for mobile size ////////////////////////////////////////////////////////////

// set up header  ///////////////////////////////

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border: 3px solid black;
  padding-bottom: 0;
  background-color: white;

  .green {
    .logo {
      display: block;
      margin: 0 auto 0 auto;
      height: 60px;
    }
    background-color: green;
    max-height: auto;
    min-width: 60px;
    border-right: 2px solid black;
  }

  .white {
    background-color: white;
    max-height: auto;
    min-width: 100px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 60px;
    h6 {
      padding-top: 10px;
      // margin-bottom: 0;
      // padding-bottom: 0;
    }
    h5 {
      font-size: 0.75rem;
      font-family: "Pacifico";
    }
    #activePhone {
      color: black;
      font-weight: bold;
    }
    @media only screen and (max-width: 767px) {
      .regPhone {
        display: none;
      }
    }
  }

  .red {
    background-color: $redLogo;
    max-height: auto;
    min-width: 60px;
    font-size: 1rem;
    border-left: 2px solid black;
    #menuId {
      color: white;
      text-decoration: none;
      font-size: 0.75rem;
      text-align: center;
    }
  }
}

// set up delivery/social media row  /////////////////////////////////

.delivery {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  border: 3px solid black;
  box-shadow: 3px 5px black;
  margin-top: 7px;

  .icons {
    display: block;
    width: 40px;
    padding-top: 8px;
    margin: 0 auto 0 auto;
  }
  background-color: white;

  .center {
    background-color: rgb(205, 1, 1);
    max-height: 57px;
    color: white;
    h5,
    h3 {
      text-align: center;
    }

    .blinking {
      animation: blinkingText 2s infinite;
    }
    @keyframes blinkingText {
      0% {
        color: white;
      }
      49% {
        color: white;
      }
      60% {
        color: transparent;
      }
      99% {
        color: transparent;
      }
      100% {
        color: white;
      }
    }
  }
}

//  set up for mission statement  //////////////////////////////////////////////////////////

.missionStatement {
  border: 5px solid black;
  background-image: url("../images/ingredientsfaded.png");
  background-color: #cd853f;
  background-size: cover;
  margin: 10px 15px 0 10px;
  border-radius: 15px;
  box-shadow: 3px 5px black;
  @media only screen and (max-width: 767px) {
    display: none;
  }

  h4 {
    text-align: center;
  }

  p {
    text-align: center;
    color: black;
    font-style: italic;

    font-size: 1rem;
  }
}

// set up promotions   ///////////////////////////////////////////////////////////////////////

.specials {
  background-color: $greenFlag;
  border: 3px solid black;
  margin-top: 10px;

  .dailySpecialsign {
    display: inline;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -5px;
    border: 4px solid black;
    box-shadow: 9px 5px black;
  }

  > .item {
    background-color: $greenFlag;
    border-bottom-style: dashed;

    > .image {
      height: 75px;
      background-size: cover;
      background-position: center center;
    }

    .name1,
    .price,
    h4,
    .name2 {
      text-align: center;
      color: white;
      font-size: 0.75rem;
    }

    .day {
      margin-top: 10px;
    }

    .name2 {
      margin-top: 5px;
    }

    .price {
      padding-bottom: 5px;
    }
  }
}

// set up location  //////////////////////////////////////////////////////////////

.locationGoogle {
  background-color: $greenFlag;
  border: 3px solid black;
  margin-top: 10px;
}
iframe {
  display: block;
  margin: 0 auto 10px auto;
}

// set up footer
footer {
  border: 3px solid black;
  background-color: $redLogo;
  color: white;
  text-align: center;
  margin-top: 10px;
  pre {
    font-size: 0.75rem;
    font-weight: bold;
    font-family: sans-serif;
  }
}

#underlinesFooter {
  text-decoration: none;
  color: white;
}

// ADAPTING FOR TABLET /////////////////////////////////////////////////////////

@media only screen and (min-width: 321px) {
  body {
    background-color: lightgrey;
    background-image: url("../images/pepperonipizza.jpg");
    background-size: cover;
  }

  .grid-container {
    grid-gap: 50px;
  }

  .header {
    border: 5px solid black;
    height: 110px;

    .green {
      .logo {
        height: 99px;
      }
    }
    .white {
      h6 {
        font-size: 1.2rem;
      }
      h5 {
        font-size: 1.4rem;
      }

      #activePhone {
        display: none;
      }
      @media only screen and (min-width: 767px) {
        .regPhone {
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    }

    .red {
      #menuId {
        font-size: 1.2rem;
      }
    }
  }

  .freeDelivery {
    > .delivery {
      height: 90px;
      background-color: $redLogo;
      .center {
        h3 {
          font-size: 2.5rem;
        }
        h5 {
          font-size: 2rem;
        }
      }
      .lside,
      .rside {
        background-color: white;
      }
      .icons {
        width: 80px;
      }
    }
  }

  .missionStatement {
    margin: 25px 50px 25px 150px;
    p {
      font-weight: bold;
    }
  }

  .specials {
    margin: 0 75px;
    box-shadow: 5px 8px black;
    .dailySpecialsign {
      width: 75%;
      margin-top: -15px;
      margin-bottom: 10px;
      margin-left: 30px;
      box-shadow: 15px 10px black;
    }

    > .item {
      border-bottom: thick dashed black;

      > .image {
        height: 150px;
      }

      .name1,
      .price,
      h4,
      .name2 {
        font-size: 1.5rem;
      }
    }
  }

  .locationGoogle {
    iframe {
      display: block;
      margin: 10px auto 10px auto;
    }
  }

  footer {
    pre {
      font-size: 1.55rem;
    }
  }
}

// // ADAPTING FOR DESKTOP /////////////////////////////////////////////////////

// @media only screen and (min-width: 992px) {
//   // Header

//   .header {
//     .green {
//       .logo-green {
//         max-height: 135px;
//       }
//     }

//     .white {
//       h1 {
//         font-size: 2.5rem;
//         margin-top: 2px;
//       }
//     }

//     .red {
//       font-size: 2.5rem;
//       i {
//         display: none;
//       }
//       li {
//         display: inline;
//         font-size: 1.5rem;
//         color: white;
//         &:hover {
//           background-color: white;
//           color: red;
//         }
//       }
//     }
//   }

//   .delivery {
//     .icons {
//       width: 70px;
//       padding-top: 7px;
//     }
//   }

//   .promotions {
//     margin-left: 600px;
//     margin-right: 600px;
//   }
//   .promotions {
//     h3 {
//       font-size: 2.5rem;
//       background-color: darkgreen;
//       text-align: center;
//       color: white;
//     }

//     p {
//       font-size: 1.75rem;
//       font-weight: bold;
//       text-align: center;
//     }
//     img {
//       width: 100px;
//       height: auto;
//     }
//   }

//   footer {
//     border: 5px solid black;
//     pre {
//       font-size: 1.35rem;
//       font-weight: bold;
//     }
//   }
// } //end of adjustin to desktop
